<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>review Page</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


      <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


</head>

<body>

  <div class="table-users">
   <div class="header">reviews</div>

   <table cellspacing="0">
      <tr>
         <th>Title</th>
         <th>Views</th>
         <th>Release Date</th>
         <th>Title Link</th>
         <th>Thumbnail Link</th>
      </tr>
         {% for review in reviews %}
      <tr>
          <td>{{review['title']}}</td>
         <td>{{review['views']}}</td>
         <td>{{review['when']}}</td>
         <td>{{review['title_link']}}</td>
         <td>{{review['img_link']}} </td>
       {% endfor %}
   </table>
</div>



</body>

</html>
